* {
    box-sizing: border-box;
    font-family: inherit;
}

$light-pink: #ffcfcf;
$less-light-pink: #ffbaba;
$purple: #805c9c;
$more-purple: #904c7c;
$even-more-purple: rgb(99, 68, 89);
$dark-purple: #402c4c;
$light-purple: #e6afed;
$primary-1: #322249;
$primary-2: #916d87;
$primary-3: #775967;
$primary-4: #804c74;

:root {
    --main-title-fs: 70px;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;

    font-family: "Poppins", sans-serif;

    background-color: rgb(219, 202, 214);
}

.w-85 {
    width: 85%;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: calc(var(--main-title-fs) + 10px);
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;

    margin-top: 50px;
    padding: 30px 20px;
    padding-bottom: 0;

    border: 3px solid black;
    border-radius: 10px;

    background-color: #EEE;

    //box-shadow: 0 5px 5px 2px #AAA;

    h1 {
        grid-row-start: 1;
        grid-column-start: 1;

        margin: 0;

        font-size: var(--main-title-fs);
        font-family: "Poppins", sans-serif;
    }

    h3 {
        margin: 0;
        margin-bottom: 15px;

        grid-row-start: 2;
        grid-column-start: 1;

        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;

        span {
            display: block;
        }

        .h3-bigger {
            font-size: 30px;
        }
    }

    #main-logo {
        height: var(--main-title-fs);
        grid-row-start: 1;
        grid-column-start: 2;

        margin: auto 0 auto auto;
    }

    nav {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;

        padding: 20px 0;

        border-top: 5px double black;

        form {
            width: 60%;
            margin: auto;

            display: flex;
            justify-content: space-around;

            #wl-email {
                width: 60%;

                border: 2px solid #DADADA;

                background-color: #EEE;
            }

            #wl-email:hover,
            #wl-submit:focus {
                border-color: #BABABA;
            }

            #wl-submit {
                width: 30%;

                border: 2px solid #555;

                background-color: $purple;
                color: white;
            }

            #wl-submit:hover,
            #wl-submit:active {
                border-color: black;
            }

            input {
                padding: 10px;

                border-radius: 10px;

                font-size: 15px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
        }
    }
}

#sponsors {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;

    width: 100%;
    height: 50vh;

    padding: 15px;
    margin-top: 50px;

    border: 3px solid #666;
    border-radius: 10px;

    background-color: #F5F5F5;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: calc(100% - 100px);
        width: 18%;

        padding: 10px 20px;
        margin: 0;
        margin-bottom: 10px;
        border: 2px solid #CACACA;
        border-top-width: 0;
        border-bottom-width: 3px;
        border-radius: 15px;

        box-shadow: 0 1px 2px 1px #CACACA;

        background-color: #EEE;

        z-index: 5;

        img {
            max-height: 80%;
            object-fit: contain;
            margin: 0;
        }

        figcaption {
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            font-size: 26px;
            text-align: center;
            margin: 0;
        }
    }

    aside {
        display: block;
        width: 100%;
        height: 50px;

        margin: 0;

        h5 {
            width: fit-content;

            margin: 0;

            padding: 7px 10px;
            font-size: 28px;

            font-family: "Poppins";

            border: 2px solid #8f8f8f;
            border-bottom-width: 4px;
            border-radius: 15px;

            background-color: #EEE;
        }
    }
}

#quote-text {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 40vw;
    margin: auto;
    margin-top: 50px;
    padding: 50px 40px;

    //border-radius: 10px;

    --how-much: 15%;

    background: linear-gradient(rgb(219, 202, 214), transparent var(--how-much), transparent calc(100% - var(--how-much)), rgb(219, 202, 214)),
        linear-gradient(90deg, rgb(219, 202, 214), transparent var(--how-much), transparent calc(100% - var(--how-much)), rgb(219, 202, 214)),
        radial-gradient(circle, $light-pink 20%, #ccb3e9 80%);

    p {
        margin: 0;

        font-family: "Roboto Slab";
        font-size: 39px;
        text-align: center;
        line-height: 60px;
        font-weight: 400;

        .small-text {
            font-size: 27px;
            font-weight: 300;
        }

        .big-text {
            font-size: 50px;
            font-weight: 600;
        }
    }
}

#introducing {
    width: 50%;
    margin: auto;
    margin-top: 100px;

    border-radius: 15px;

    text-align: center;


    h5 {
        margin: 0;
        margin-top: 20px;

        font-size: 22px;
    }

    h2 {
        margin: 0;
        margin-top: 10px;

        font-size: 62px;
        letter-spacing: 2px;
    }
}

#product-boxes {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .product-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        //border: 2px solid black;
        border-radius: 10px;

        padding: 30px 10px 20px;

        background-color: #dddddd;
        width: 25%;
        height: 90%;

        text-align: center;

        box-shadow: 0 5px 5px 3px #acacac;

        h5 {
            margin: 0;
            font-size: 18px;
        }

        p {
            font-size: 12px;
            width: 95%;
            margin: auto;
            margin-top: 20px;

            text-align: justify;
        }

        a {
            width: 60%;
            margin: auto;
            margin-top: 20px;

            padding: 5px 10px;

            border: 3px outset #999;
            border-radius: 10px;

            background-color: $less-light-pink;
            color: black;

            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration: none;
        }
    }

    .center-box {
        width: 35%;

        padding: 30px 20px 25px;

        background-color: #EAEAEA;

        h5 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }

        a {
            width: 80%;

            font-size: 17px;
            font-weight: 600;
            padding: 10px 20px;
        }
    }
}

#wip {
    margin-top: 40px;
    text-align: center;

    h6 {
        margin: 0;
        font-size: 24px;
    }

    p {
        margin: 0;
        font-size: 20px;
    }
}

#discord {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin: auto;
    margin-top: 80px;


    aside {
        text-align: center;
        font-size: 32px;
    }

    a {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 50px;

        border: 2px solid #555;
        border-width: 2px 3px 3px 2px;
        border-color: #999 #555 #555 #999;
        border-radius: 10px;

        background-color: #eee;
        //box-shadow: 0 3px 5px 2px #BBB;
        transform: translate(0, 0);

        cursor: pointer;
        text-decoration: none;

        transition: all 0.2s;

        img {
            width: 15%;
        }

        p {
            width: 80%;
            color: black;
            font-size: 17px;
        }
    }

    a:hover {
        transform: translate(-3px, -3px);
        border-width: 2px 6px 6px 2px;
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 35px;
    align-items: center;
    width: 100%;

    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

    border-top: 4px double black;

    text-align: center;

    h4 {
        grid-column-start: 1;
        grid-row-start: 1;

        font-size: 26px;

        margin-top: 0;
        margin-bottom: 10px;

        a::before,
        a::after {
            content: " • ";
        }
    }

    a {
        color: black;
    }

    #icons {
        grid-column-start: 1;
        grid-row-start: 2;

        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: fit-content;
        margin: auto;

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            text-decoration: none;
            i {
                width: 35px;
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }

    #bottom {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        font-size: 17px;

        p {
            margin-top: 10px;
        }
    }
}

#copy {
    font-size: 8px;
}