* {
    box-sizing: border-box;
    font-family: inherit;
}

$light-pink: #ffcfcf;
$less-light-pink: #ffbaba;
$purple: #805c9c;
$more-purple: #904c7c;
$even-more-purple:rgb(99, 68, 89);
$dark-purple: #402c4c;
$light-purple: #e6afed;
$primary-1: #322249;
$primary-2: #916d87;
$primary-3: #775967;
$primary-4: #804c74;

:root {
    --main-title-fs: 60px;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: calc(var(--main-title-fs) + 10px);
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;

    width: 90%;

    margin: auto;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0;

    border: 3px solid black;
    border-radius: 10px;

    box-shadow: 0 5px 5px 2px #AAA;

    h1 {
        grid-row-start: 1;
        grid-column-start: 1;

        margin: 0;

        font-size: var(--main-title-fs);
        font-family: "Poppins", sans-serif;
    }

    h3 {
        margin: 0;

        grid-row-start: 2;
        grid-column-start: 1;

        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;

        span {
            display: block;
        }

        .h3-bigger {
            font-size: 30px;
        }
    }

    #main-logo {
        height: var(--main-title-fs);
        grid-row-start: 1;
        grid-column-start: 2;

        margin: auto 0 auto auto;
    }

    nav {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;

        padding: 10px 0;

        border-top: 5px double black;

        form {
            width: 60%;
            margin: auto;

            display: flex;
            justify-content: space-around;

            #wl-email {
                width: 60%;

                border: 2px solid #DADADA;

                background-color: #EEE;
            }

            #wl-email:hover, #wl-submit:focus {
                border-color: #BABABA;
            }

            #wl-submit {
                width: 30%;

                border: 2px solid #555;

                background-color: $purple;
                color: white;
            }

            #wl-submit:hover, #wl-submit:active {
                border-color: black;
            }

            input {
                padding: 10px;

                border-radius: 10px;

                font-size: 15px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
        }
    }
}

main {
    width: 90%;

    margin: auto;
}

#sponsors {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 30vh;

    padding: 15px;
    margin-top: 100px;

    border: 3px solid black;
    border-radius: 0 10px 10px 10px;

    z-index: 55;
    background-color: white;

    box-shadow: 0 5px 5px 2px #AAA;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        height: 100%;
        width: 150px;
        max-width: 23%;

        padding: 10px;
        margin: 0;
        border: 2px solid #777;
        border-radius: 15px;

        box-shadow: 0 3px 5px 2px #AAA;

        background-color: #EEE;

        img {
            max-height: 80%;
            object-fit: contain;
            margin: 0;
        }

        figcaption {
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            margin: 0;
        }
    }

    aside {
        position: absolute;
        display: block;
        top: calc(-1 * (27px + 10px + 3px + 2px));
        left: -3px;
        margin: 0;
        border: 3px solid black;
        border-bottom: none;
        border-radius: 10px 10px 0 0;

        h5 {
            margin: 5px;
            font-size: 18px;

            font-family: "Poppins";
        }
    }
}

#quote-text {
    width: 40%;
    margin: auto;
    margin-top: 30px;
    padding: 70px 5px;

    border: 1px solid #CCC;
    border-radius: 10px;

    background: radial-gradient(circle, #EEE 30%, #CCC 70%);

    box-shadow: 0 0 10px 5px #CCC;

    p {
        margin: 0;

        font-family: "Roboto Slab";
        font-size: 24px;
        text-align: center;
        line-height: 36px;

        .small-text {
            font-size: 16px;
        }

        .big-text {
            font-size: 32px;
        }
    }
}

#introducing {
    width: 50%;
    margin: auto;
    margin-top: 100px;

    border-radius: 15px;

    text-align: center;


    h5 {
        margin: 0;
        margin-top: 20px;

        font-size: 22px;
    }

    h2 {
        margin: 0;
        margin-top: 10px;

        font-size: 62px;
        letter-spacing: 2px;
    }
}

#product-boxes {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .product-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 2px solid black;
        border-radius: 10px;

        padding: 30px 10px 20px;

        background-color: #D0D0D0;
        width: 26%;
        height: 90%;

        text-align: center;

        box-shadow: 0 5px 4px 2px #AAA;

        h5 {
            margin: 0;
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }

        a {
            width: 60%;
            margin: auto;

            padding: 5px 10px;

            border: 3px outset #999;
            border-radius: 10px;

            background-color: $less-light-pink;
            color: black;

            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration: none;
        }
    }

    .center-box {
        width: 30%;

        padding: 30px 20px 25px;

        background-color: #EAEAEA;

        h5 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }

        a {
            width: 80%;

            font-size: 17px;
            font-weight: 600;
            padding: 10px 20px;
        }
    }
}

#wip {
    margin-top: 40px;
    text-align: center;

    h6 {
        margin: 0;
        font-size: 24px;
    }

    p {
        margin: 0;
        font-size: 20px;
    }
}

#discord {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin: auto;
    margin-top: 100px;

    aside {
        text-align: center;
        font-size: 28px;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        border: 2px solid black;
        border-radius: 10px;

        background-color: #eee;
        box-shadow: 0 3px 5px 2px #BBB;


        img {
            width: 15%;
        }

        p {
            width: 80%;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 35px;
    align-items: center;
    width: 100%;

    padding-top: 20px;
    margin-top: 30px;

    border-top: 4px double black;

    text-align: center;

    h4 {
        grid-column-start: 1;
        grid-row-start: 1;

        font-size: 26px;

        margin-top: 0;
        margin-bottom: 10px;

        a::before, a::after {
            content: " • ";
        }
    }

    a {
        color: black;
    }

    #icons {
        grid-column-start: 1;
        grid-row-start: 2;

        display: flex;
        justify-content: space-around;
        width: 30%;
        margin: auto;

        a {
            font-size: 30px;
        }
    }

    #bottom {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        font-size: 17px;

        p {
            margin-top: 10px;
        }
    }
}

#copy {
    font-size: 8px;
}