* {
    box-sizing: border-box;
    //border: 1px solid black;

    font-family: inherit;
}

$light-pink: #ffcfcf;
$less-light-pink: #ffbaba;
$purple: #805c9c;
$more-purple: #904c7c;
$dark-purple: #402c4c;
$light-purple: #e6afed;
$primary-1: #322249;
$primary-2: #916d87;
$primary-3: #775967;
$primary-4: #804c74;

@media screen and (max-width: 600px) {
    :root {
        --header-column-diff: 3vw;
        --header-size-padding: 7vw;

        --main-title-font-size: calc(1px + 8vw);
        --main-subtitle-font-size: calc(1px + 4vw);
        --main-big-subtitle-font-size: calc(1.5px + 5.5vw);

        --nav-bottom-pad: calc(0.3px + 1.3vw);
        --wl-font-size: calc(1.5vw + 3px);
        --wl-padd-size: calc(1.5vw + 3px);
        --wl-submit-gcs: 1;

        --spon-extra-width: 15px;
        --spon-top: 25px;
        --spon-top-pad: 15px;
        --spon-box-shadow-size: 5px;

        --spon-aside-vert-padd: 1vw;
        --spon-aside-head-size: calc(1.3vw + 8px);

        --figcaption-font-size: calc(4px + 3vw);
        --fig-img-height: calc(30px + 12vw);

        --quote-pad: 15vh;
        --quote-small: calc(1px + 2.5vw);
        --quote-p: calc(2px + 3.5vw);
        --quote-big: calc(3px + 4vw);

        --intro-h5: 3vw;
        --intro-h2: 10vw;

        --product-box-marg-top: 10px;
        --product-box-h5: 2.6vw;
        --product-box-p: 2vw;
        --product-box-a: 3vw;
        --product-box-a-pad: 3px;

        --wip-h6: 4vw;
        --wip-p: 3vw;

        --discord-h3: 8vw;
        --discord-icon-size: 15vw;
        --discord-pad: 25px;

        --icons-justify: space-evenly;

        --copy: 1.5vw;
    }
}

@media screen and (min-width: 601px) {
    :root {
        --header-column-diff: 20vw;
        --header-size-padding: 4vw;

        --main-title-font-size: calc(1px + 5vw);
        --main-subtitle-font-size: calc(1px + 2vw);
        --main-big-subtitle-font-size: calc(1.5px + 3.5vw);

        --nav-bottom-pad: calc(0.3px + 1.2vw);
        --wl-font-size: calc(0.5vw + 8px);
        --wl-padd-size: calc(0.7vw + 6px);
        --wl-submit-gcs: 2;

        --spon-extra-width: 25px;
        --spon-top: 70px;
        --spon-top-pad: 25px;
        --spon-box-shadow-size: 15px;

        --spon-aside-vert-padd: 1vw;
        --spon-aside-head-size: 24px;

        --figcaption-font-size: calc(10px + 1.5vw);
        --fig-img-height: calc(30px + 8vw);

        --quote-pad: 25vh;
        --quote-small: calc(1px + 1.5vw);
        --quote-p: calc(2px + 2.5vw);
        --quote-big: calc(3px + 2vw);

        --intro-h5: 2vw;
        --intro-h2: 7vw;

        --product-box-marg-top: 20px;
        --product-box-h5: 2vw;
        --product-box-p: 1.5vw;
        --product-box-a: 1.8vw;
        --product-box-a-pad: 5px;

        --wip-h6: 3vw;
        --wip-p: 2vw;

        --discord-h3: 4vw;
        --discord-icon-size: 10vw;
        --discord-pad: 10vw;

        --icons-justify: center;

        --copy: 6px;
    }
}

body {
    padding: 0;
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    background: linear-gradient(90deg, #444 20px, $primary-4 20px, $primary-4 calc(100% - 20px), #444 calc(100% - 20px), #444);
    padding: 0 20px;
}

header {
    display: grid;
    grid-template-columns: minmax(0, calc(50% - var(--header-column-diff))) minmax(0, calc(50% + var(--header-column-diff)));
    grid-template-rows: minmax(0, 1fr) fit-content;
    row-gap: 1vh;

    padding: 15px var(--header-size-padding) 30px;

    background: linear-gradient($primary-1 20%, $primary-2);

    img#main-logo {
        height: var(--main-title-font-size);

        margin-left: auto;
        margin-right: 0;

        align-self: center;
        grid-row-start: 1;
        grid-column-start: 2;
    }

    h1,
    h3 {
        margin: 0;
        grid-column-start: 1;
    }

    h1 {
        grid-row-start: 1;

        color: $light-pink;

        font-size: var(--main-title-font-size);
    }

    h3 {
        grid-row-start: 2;
        align-self: center;

        display: flex;
        flex-direction: column;

        color: #fff;

        font-size: var(--main-subtitle-font-size);
        font-weight: 600;

        white-space: nowrap;

        span {
            width: fit-content;
            display: inline-block;
        }

        .h3-bigger {
            font-size: var(--main-big-subtitle-font-size);
        }
    }

    nav {
        grid-row-start: 2;

        height: fit-content;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding-bottom: var(--nav-bottom-pad);

        form {
            width: 100%;
            height: fit-content;

            display: grid;
            row-gap: calc(var(--wl-padd-size) * 1.2);
            column-gap: 5vw;

            input {
                width: 100%;
                height: calc(var(--wl-font-size) + var(--wl-padd-size)*2);

                border: none;
                border-radius: 1vw;

                font-size: var(--wl-font-size);
                font-weight: 500;
                text-align: center;

                box-shadow: 2px 2px 5px #333;

                transition: background 0.3s, color 0.3s, box-shadow 0.3s, z-index 0.3s;

                z-index: 56;
            }

            input::placeholder {
                color: $purple;
            }

            input:hover,
            input:active,
            #wl-email {
                background-color: $light-pink;
                color: $purple;
            }

            input:hover,
            #wl-email:focus {
                box-shadow: 0 0 5px 10px $primary-1;
                z-index: 55;
            }

            #wl-email {
                padding: var(--padd-size);
            }

            #wl-submit {
                background-color: $purple;
                color: white;
                grid-column-start: var(--wl-submit-gcs);
            }

            #wl-submit:hover {
                background-color: $light-pink;
                color: black;
                cursor: pointer;
            }
        }
    }
}

main {
    background: linear-gradient($primary-2 1%,
            $primary-3 10vw,
            $primary-3 15vw,
            $primary-4 20vw);
    min-height: 100vw;

    #sponsors {
        position: relative;
        display: flex;
        flex-flow: wrap;

        width: calc(100% + var(--spon-extra-width));

        top: var(--spon-top);
        left: calc(var(--spon-extra-width) * -0.5);

        padding: var(--spon-top-pad) 0 5px;

        background-color: $light-pink;

        justify-content: space-evenly;

        box-shadow: 0 5px var(--spon-box-shadow-size) $primary-1;

        aside {
            --aside-calc: calc(var(--spon-aside-head-size) + var(--spon-aside-vert-padd) * 3);

            display: inline-block;
            position: absolute;

            height: var(--aside-calc);

            left: 0;
            top: calc(-1 * var(--aside-calc));

            color: $purple;

            border-right: var(--aside-calc) solid transparent;
            border-bottom: var(--aside-calc) solid $light-pink;


            h5 {
                position: relative;
                display: inline;
                top: var(--spon-aside-vert-padd);

                padding: var(--spon-aside-vert-padd);

                border: 1px solid transparent;

                background-color: $light-pink;
                font-size: var(--spon-aside-head-size);
            }
        }

        figure {
            display: flex;

            width: 20%;

            @media screen and (max-width: 350px) {
                width: 40%;
                margin: 6px 0;
            }

            margin: 0;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                height: var(--fig-img-height);

                @media screen and (max-width: 350px) {
                    height: 24vw;
                }

                object-fit: contain;
            }

            figcaption {
                font-size: var(--figcaption-font-size);
                font-family: "Young Serif", serif;
            }
        }
    }

    article#quote-text {
        display: flex;
        justify-content: center;

        width: 100%;

        margin: 0;
        padding: var(--quote-pad) 0 calc(var(--quote-pad) / 2);

        background: linear-gradient($primary-3 -10%,
                transparent 20%,
                transparent 70%,
                $primary-4 100%),
            radial-gradient(#edd,
                $light-pink 25%,
                $more-purple 95%);

        p {
            width: fit-content;
            margin: 0;

            color: $dark-purple;

            font-size: var(--quote-p);
            font-weight: 500;
            text-align: center;

            .small-text {
                font-weight: 400;
                font-size: var(--quote-small);
            }

            .big-text {
                font-weight: 600;
                font-size: var(--quote-big);
            }
        }
    }

    article#introducing {
        margin: 0;
        margin-top: -30px;

        background: linear-gradient(transparent 0%, $primary-4 50%);

        text-align: center;

        h5 {
            margin: 0;
            color: #ddd;

            font-size: var(--intro-h5);
        }

        h2 {
            margin: 0 0 15px 0;

            color: $light-pink;

            font-size: var(--intro-h2);
        }
    }

    #product-boxes {
        background: $primary-4;

        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: 350px) {
            flex-direction: column;
            align-items: center;
        }

        .product-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            width: 28%;
            min-height: 30vh;

            border-radius: 15px;

            background-color: $less-light-pink;

            transform: scale(1);

            transition: transform 0.5s, background 0.5s;

            @media screen and (max-width: 350px) {
                width: 90%;
                margin: 10px 0 0 0;
            }

            h5 {
                margin-top: var(--product-box-marg-top);
                margin-bottom: 5px;

                color: $more-purple;

                font-size: var(--product-box-h5);
                font-weight: 700;
                text-align: center;
            }

            p {
                width: 90%;

                font-size: var(--product-box-p);
                text-align: center;
            }

            a {
                width: 90%;

                padding: var(--product-box-a-pad);
                margin-bottom: 10px;

                border-radius: 20px;

                background-color: $more-purple;
                color: white;

                font-size: var(--product-box-a);
                text-align: center;
                text-decoration: none;

                font-weight: 500;
            }

            @media screen and (max-width: 350px) {
                h5 {
                    font-size: 5vw;
                }

                p {
                    font-size: 3.5vw;
                }
            }
        }

        @media screen and (min-width: 351px) {
            .product-box:first-child {
                margin-left: 2vw;
            }

            .product-box:last-child {
                margin-right: 2vw;
            }
        }

        .product-box:nth-of-type(2) {
            transform: scale(1.15);
            background: $light-pink;
        }

        .product-box:hover {
            transform: scale(1.3);
            background: $light-pink;
            z-index: 100;
        }
    }

    #wip {
        display: flex;
        flex-direction: column;
        align-items: center;

        background: linear-gradient($primary-4, $primary-3 80%);

        border: 1px solid transparent;

        h6 {
            color: $light-pink;

            margin-top: 25px;
            margin-bottom: 0;

            font-size: var(--wip-h6);
        }

        p {
            margin-top: 5px;

            color: white;

            font-size: var(--wip-p);
            text-align: center;
        }
    }

    section#discord {
        background: linear-gradient($primary-3 20%, $primary-4);

        aside#join-our-discord {
            position: relative;

            left: calc(-0.5 * var(--spon-extra-width));

            width: calc(100% + var(--spon-extra-width));

            margin-bottom: 10px;
            padding: 15px;

            background-color: $light-pink;

            box-shadow: 0 5px 5px $primary-1;

            h3 {
                font-size: var(--discord-h3);
                text-align: center;

                color: $purple;

                margin: 0;
            }
        }

        div {
            padding: 25px var(--discord-pad);

            display: flex;
            align-items: center;
            justify-content: space-around;

            img {
                border-radius: 15%;
                box-shadow: 0 0 10px 3px $dark-purple;
                width: var(--discord-icon-size);
                height: var(--discord-icon-size);
            }

            p {
                width: 50vw;

                color: white;

                font-weight: 600;
                font-size: calc(2vw + 4px);
            }
        }
    }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid transparent;
    background-color: $light-purple;

    h4 {
        width: fit-content;

        a {
            color: $more-purple;
        }

        a::before,
        a::after {
            content: " • ";
        }
    }

    #icons {
        display: flex;
        width: 80%;

        justify-content: var(--icons-justify);

        font-size: 30px;

        i {
            color: $dark-purple;
            margin: 0 10px;
        }
    }

    #bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;

        .bigger-text {
            color: $more-purple;
            font-weight: 600;
            font-size: calc(5px + 1vw);
        }

        .smaller-text,
        .smaller-text a {
            color: $more-purple;
            font-weight: 500;
            font-size: calc(3px + 1vw);
        }
    }

    #copy {
        position: absolute;
        bottom: 0;
        left: 5px;

        color: $dark-purple;

        font-size: var(--copy);
        text-align: center;
    }
}