@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: inherit;
  transition: all 0.2s;
}

@media (min-width: 600px) {
  :root {
    --main-title-fs: calc(2vw + 30px);
    --body-top-pad: 50px;
    --body-back: rgb(219, 202, 214);
    --body-width-1: 85%;
    --head-pad: 30px 2vw;
    --head-h3: calc(0.7vw + 10px);
    --head-h3-big: calc(1.5vw + 15px);
    --nav-form-width: calc(50vw + 100px);
    --nav-fs: calc(5px + 0.7vw);
    --spon-marg-top: 70px;
    --spon-height: calc(var(--spona-height) + var(--sponf-hegiht) + var(--spon-pad)*2 + var(--spon-between));
    --spon-pad: 25px;
    --spon-between: calc(3vw + 10px);
    --spona-height: 50px;
    --spona-font-size: calc(15px + 1vw);
    --sponf-width: 16vw;
    --sponf-hegiht: 17vw;
    --sponf-pad: 1vw calc(5px + 1vw);
    --sponf-marg-bot: 0;
    --sponf-img-height: 80%;
    --sponf-font-size: calc(10px + 1.2vw);
    --quote-width: calc(300px + 40vw);
    --quote-height: calc(300px + 30vw;);
    --quote-marg-top: 50px;
    --quote-pad: 7vw 6vw;
    --quote-normal-fs: calc(13px + 2.1vw);
    --quote-smoool-fs: calc(13px + 1.0vw);
    --quote-chngus-fs: calc(17px + 2.6vw);
    --quote-line-hght: calc(30px + 2.5vw);
    --intro-mg-top: 50px;
    --intro-big: calc(15px + 4vw);
    --intro-sml: calc(5px + 1.5vw);
    --pb-width: calc(80vw + 50px);
    --pb-min-width: 550px;
    --pb-pad: calc(10px + 1vw) calc(5px + 1.0vw) calc(7px + 1.5vw);
    --pb-box-width: calc(10vw + 100px);
    --pb-box-height: 90%;
    --pb-h5: calc(6px + 0.8vw);
    --pb-p: calc(5px + 0.5vw);
    --pb-sep: calc(10px + 0.3vw);
    --pb-a-width: calc(60% + 40px);
    --pb-a-fs: calc(8px + 0.4vw);
    --pb-a-pad: 10px calc(10px + 1.2vw);
    --pb-big-scale-factor: 1.3;
    --wip-h6: calc(8px + 0.8vw);
    --wip-p: calc(8px + 1vw);
    --ready-width: 50%;
    --ready-marg-top: 80px;
    --ready-fs: calc(10px + 1vw);
    --discord-width: calc(40vw + 300px);
    --discord-big: calc(15px + 1.5vw);
    --discord-text: calc(8px + 0.8vw);
    --discord-icon: 15%;
    --discord-pad: 20px 50px;
    --foot-bg: rgb(235, 206, 221);
    --foot-pad-top: 10px;
    --foot-h4: calc(7px + 1vw);
    --foot-i-width: 2.5vw;
    --foot-i-fs: 2.0vw;
    --foot-a-fs: 1.0vw;
    --bottom-fs: calc(8px + 0.6vw);
  }
}
@media (max-width: 599px) {
  :root {
    --main-title-fs: calc(1.5vw + 25px);
    --body-top-pad: 20px;
    --body-back: rgb(219, 202, 214);
    --body-width-1: 90%;
    --head-pad: 20px 5vw;
    --head-h3: calc(2vw + 7px);
    --head-h3-big: calc(3vw + 10px);
    --nav-form-width: 100%;
    --nav-fs: calc(5px + 0.7vw);
    --spon-marg-top: 30px;
    --spon-height: calc(var(--spona-height) + var(--sponf-hegiht) + var(--spon-pad)*2 + var(--spon-between));
    --spon-pad: 15px;
    --spon-between: calc(2vw + 10px);
    --spona-height: 50px;
    --spona-font-size: calc(10px + 1vw);
    --sponf-width: 18vw;
    --sponf-hegiht: 25vw;
    --sponf-pad: 3vw calc(5px + 4vw);
    --sponf-marg-bot: 0;
    --sponf-img-height: 80%;
    --sponf-font-size: calc(10px + 1vw);
    --quote-width: 90vw;
    --quote-height: 80vw;
    --quote-marg-top: 20px;
    --quote-pad: 7vw 6vw;
    --quote-normal-fs: calc(10px + 2.1vw);
    --quote-smoool-fs: calc(10px + 1.0vw);
    --quote-chngus-fs: calc(13px + 2.6vw);
    --quote-line-hght: calc(25px + 2.5vw);
    --intro-mg-top: 20px;
    --intro-big: calc(15px + 4vw);
    --intro-sml: calc(5px + 1.5vw);
    --pb-width: 95%;
    --pb-min-width: 0px;
    --pb-pad: calc(5px + 0.5vw) calc(3px + 0.5vw) calc(4px + 1.0vw);
    --pb-box-width: 25vw;
    --pb-box-height: 90%;
    --pb-h5: calc(6px + 0.8vw);
    --pb-p: calc(4px + 0.6vw);
    --pb-sep: calc(10px + 0.3vw);
    --pb-a-width: calc(60% + 40px);
    --pb-a-fs: calc(6px + 0.4vw);
    --pb-a-pad: 10px calc(10px + 1.2vw);
    --pb-big-scale-factor: 1.3;
    --wip-h6: calc(8px + 0.8vw);
    --wip-p: calc(8px + 1vw);
    --ready-width: 90%;
    --ready-marg-top: 40px;
    --ready-fs: calc(10px + 1vw);
    --discord-width: 90%;
    --discord-big: calc(15px + 1.5vw);
    --discord-text: calc(8px + 0.8vw);
    --discord-icon: 20%;
    --discord-pad: 10px;
    --foot-bg: rgb(235, 206, 221);
    --foot-pad-top: 10px;
    --foot-h4: calc(7px + 3vw);
    --foot-i-width: 7vw;
    --foot-i-fs: 6.0vw;
    --foot-a-fs: 4.0vw;
    --bottom-fs: calc(7px + 1vw);
  }
}
body {
  margin: 0;
  padding: 0;
  padding-top: var(--body-top-pad);
  font-family: "Poppins", sans-serif;
  background-color: var(--body-back);
}

.w-85 {
  width: var(--body-width-1);
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: calc(var(--main-title-fs) + 10px);
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  padding: var(--head-pad);
  padding-bottom: 0;
  border-radius: 10px;
  background-color: #EEE;
}
header h1 {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 0;
  font-size: var(--main-title-fs);
  font-family: "Poppins", sans-serif;
}
header h3 {
  margin: 0;
  margin-bottom: 15px;
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: var(--head-h3);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
header h3 span {
  display: block;
}
header h3 .h3-bigger {
  font-size: var(--head-h3-big);
}
header #main-logo {
  height: var(--main-title-fs);
  grid-row-start: 1;
  grid-column-start: 2;
  margin: auto 0 auto auto;
}
header nav {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  padding: 20px 0;
  border-top: 5px double black;
}
header nav form {
  width: var(--nav-form-width);
  margin: auto;
  display: flex;
  justify-content: space-around;
}
header nav form #wl-email {
  width: 60%;
  border: 2px solid #DADADA;
  background-color: #EEE;
}
header nav form #wl-email:hover,
header nav form #wl-submit:focus {
  border-color: #BABABA;
}
header nav form #wl-submit {
  width: 30%;
  border: 2px solid #555;
  background-color: #805c9c;
  color: white;
}
header nav form #wl-submit:hover,
header nav form #wl-submit:active {
  border-color: black;
}
header nav form input {
  padding: 10px;
  border-radius: 10px;
  font-size: var(--nav-fs);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#sponsors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  width: 100%;
  height: var(--spon-height);
  padding: var(--spon-pad);
  margin-top: var(--spon-marg-top);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#sponsors figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: var(--sponf-hegiht);
  width: var(--sponf-width);
  padding: var(--sponf-pad);
  margin: 0;
  margin-bottom: var(--sponf-marg-bot);
  border: 2px solid #CACACA;
  border-top-width: 0;
  border-bottom-width: 3px;
  border-radius: 15px;
  box-shadow: 0 1px 2px 1px #CACACA;
  background-color: #EEE;
  z-index: 5;
}
#sponsors figure img {
  max-height: var(--sponf-img-height);
  object-fit: contain;
  margin: 0;
}
#sponsors figure figcaption {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: var(--sponf-font-size);
  text-align: center;
  margin: 0;
}
#sponsors aside {
  display: block;
  width: 100%;
  height: var(--spona-height);
  margin: 0;
}
#sponsors aside h5 {
  width: fit-content;
  margin: 0;
  padding: 7px 10px;
  font-size: var(--spona-font-size);
  font-family: "Poppins";
  box-shadow: 0 2px 2px 1px #8f8f8f;
  border-bottom-width: 4px;
  border-top-width: 0;
  border-radius: 15px;
  background-color: #EEE;
}

#quote-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--quote-width);
  height: var(--quote-height);
  margin: auto;
  margin-top: var(--quote-marg-top);
  padding: var(--quote-pad);
  --how-much: 15%;
  background: linear-gradient(rgb(219, 202, 214), transparent var(--how-much), transparent calc(100% - var(--how-much)), rgb(219, 202, 214)), linear-gradient(90deg, rgb(219, 202, 214), transparent var(--how-much), transparent calc(100% - var(--how-much)), rgb(219, 202, 214)), radial-gradient(circle, #ffcfcf 20%, #ccb3e9 80%);
}
#quote-text p {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: var(--quote-normal-fs);
  text-align: center;
  line-height: var(--quote-line-hght);
  font-weight: 400;
}
#quote-text p .small-text {
  font-size: var(--quote-smoool-fs);
  font-weight: 300;
}
#quote-text p .big-text {
  font-size: var(--quote-chngus-fs);
  font-weight: 600;
}

#introducing {
  width: 50%;
  margin: auto;
  margin-top: var(--intro-mg-top);
  border-radius: 15px;
  text-align: center;
}
#introducing h5 {
  margin: 0;
  margin-top: 20px;
  font-size: var(--intro-sml);
}
#introducing h2 {
  margin: 0;
  margin-top: 10px;
  font-size: var(--intro-big);
  letter-spacing: 2px;
}

#product-boxes {
  width: var(--pb-width);
  min-width: var(--pb-min-width);
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#product-boxes .product-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: calc(5px + 1vw);
  padding: var(--pb-pad);
  background-color: #dddddd;
  width: var(--pb-box-width);
  height: var(--pb-box-height);
  text-align: center;
  box-shadow: 0 5px 5px 3px #acacac;
}
#product-boxes .product-box h5 {
  margin: 0;
  font-size: var(--pb-h5);
}
#product-boxes .product-box p {
  font-size: var(--pb-p);
  width: 95%;
  margin: auto;
  margin-top: var(--pb-sep);
  text-align: justify;
}
#product-boxes .product-box a {
  width: var(--pb-a-width);
  margin: auto;
  margin-top: var(--pb-sep);
  padding: 5px 10px;
  border: 3px outset #999;
  border-radius: 10px;
  background-color: #ffbaba;
  color: black;
  font-size: var(--pb-a-fs);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
#product-boxes .center-box {
  width: calc(var(--pb-box-width) * var(--pb-big-scale-factor));
  background-color: #EAEAEA;
  z-index: 5052;
}
#product-boxes .center-box h5 {
  font-size: calc(var(--pb-h5) * var(--pb-big-scale-factor));
}
#product-boxes .center-box p {
  font-size: calc(var(--pb-p) * var(--pb-big-scale-factor));
}
#product-boxes .center-box a {
  width: 80%;
  font-size: calc(var(--pb-a-fs) * var(--pb-big-scale-factor));
  font-weight: 600;
  padding: var(--pb-a-pad);
}

#wip {
  margin-top: 40px;
  text-align: center;
}
#wip h6 {
  margin: 0;
  font-size: var(--wip-h6);
}
#wip p {
  margin: 0;
  font-size: var(--wip-p);
}

#are-ya-ready-kids {
  width: var(--ready-width);
  margin: auto;
  margin-top: var(--ready-marg-top);
  font-size: var(--ready-fs);
  text-align: center;
  color: #804c74;
}
#are-ya-ready-kids h3 {
  margin: 0;
  border: 3px outset #805c9c;
  border-radius: 15px;
  border-width: 0px 3px 3px 0px;
  padding: 15px;
  background-color: #ffcfcf;
  transform: scale(1);
  transition: all 0.05s;
}
#are-ya-ready-kids h3 #soviet {
  color: red;
}
#are-ya-ready-kids h3:hover {
  transform: scale(1.1);
}
#are-ya-ready-kids h3:active {
  border-style: inset;
  border-width: 3px 0px 0px 3px;
}

#discord {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--discord-width);
  margin: auto;
  margin-top: 40px;
}
#discord aside {
  text-align: center;
  font-size: var(--discord-big);
}
#discord a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--discord-pad);
  border: 2px solid #555;
  border-width: 2px 3px 3px 2px;
  border-color: #999 #555 #555 #999;
  border-radius: 10px;
  background-color: #eee;
  transform: translate(0, 0);
  cursor: pointer;
  text-decoration: none;
}
#discord a img {
  width: var(--discord-icon);
}
#discord a p {
  width: calc(90% - var(--discord-icon));
  color: black;
  font-size: var(--discord-text);
}
#discord a:hover {
  transform: translate(-3px, -3px);
  border-width: 2px 6px 6px 2px;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  padding-top: var(--foot-pad-top);
  margin-top: 30px;
  padding-bottom: 20px;
  border-top: 4px double black;
  text-align: center;
  background-color: var(--foot-bg);
}
footer h4 {
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: var(--foot-h4);
  margin-top: 0;
  margin-bottom: 10px;
}
footer h4 a::before,
footer h4 a::after {
  content: " • ";
}
footer a {
  color: black;
}
footer #icons {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-self: start;
}
footer #icons a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: var(--foot-a-fs);
}
footer #icons a i {
  width: var(--foot-i-width);
  font-size: var(--foot-i-fs);
  margin-right: 10px;
}
footer #bottom {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: var(--bottom-fs);
  text-align: right;
  margin-right: 10vw;
}
footer #bottom p {
  margin-top: 10px;
}

#copy {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 7px;
  align-self: end;
  justify-self: end;
}

/*# sourceMappingURL=landing_page.css.map */
